@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@400;600;900&family=Source+Serif+Pro:wght@300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url("https://use.typekit.net/cre8fyv.css");


/** CUSTOM CSS **/

.title {
  margin-bottom: 0.01em;
  font-family: poppins, sans-serif;
  color: #292929;
  font-size: 22pt !important;
  text-align: left;
  font-weight: 900;
}

.author{
  font-size: 14pt;
  margin-top: 0.2em;
  margin-bottom: 0;
  font-family: poppins, sans-serif;
  color: #757575;
  font-weight: 300;
}

.date{
  font-size: 14pt;
  margin-top: 0.2em;
  margin-bottom: 0.75em;
  font-family: poppins, sans-serif;
  color: #757575;
  font-weight: 300;
}

div#header {
  margin-bottom: 20pt;
}

h1 {
  font-family: poppins, sans-serif;
  font-size: 28pt;
  font-weight: 900;
  margin: auto;
    
}

h2 {
  font-family: poppins, sans-serif;
  font-size: 18.5pt;
  font-weight: 700;
  margin-bottom: 12pt;
}
    
h3 {
  font-family: poppins, sans-serif;
  font-size: 15pt;
  font-weight: 500;
}
h4 {
  font-family: poppins, sans-serif;
  font-size: 12.5pt;
  font-weight: 500;
  
}
h5 {
  font-family: poppins, sans-serif;
  font-size: 10pt;
  font-weight: 400;
}

body {
  font-family: 'Source Serif Pro', serif;
  margin: 30.6px;
  font-size: 11pt;
}

p {
  font-family: 'Source Serif Pro', serif;
  font-size: 11pt;
  padding: 1.4px;
  line-height: 1.5em;
  color: #292929;
}

p.caption {
  font-size: 9.6pt;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: #5367f8;
}

code {
  font-family: 'Roboto Condensed', sans-serif;
  
}

blockquote {
  border-left: 5px solid #33554c;
  background: whitesmoke;
  box-shadow: 1px 1px 6px 0px darkgrey;
  /*box-shaddow: inset 1px 1px 6px 0px darkgrey*/
}

blockquote p {
  font-size: 12pt;
  font-family: 'Roboto Condensed', sans-serif;
  
}

.navbar-brand {
  font-family: source-sans-pro, sans-serif;
  font-size: 9pt;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #535556 !important;
}
.navbar-default {
    background-color: white;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 11%);
}
  

.html-widget {
  margin-bottom: 20px;
  margin-top: 20px;
}

.section h3 {
  margin-top: 20px !important;
  padding-top: 0 !important;
}
