@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@400;600;900&family=Source+Serif+Pro:wght@300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/** CUSTOM CSS **/

.author{
  font-family: 'Poppins', sans-serif;
  color: #757575;
  font-size:12pt;
  font-weight: 400;
}
.date {
  font-family: 'Poppins', sans-serif;
  color: #757575;
  font-size:12pt;
  font-weight: 400;
}

h1.title {
  font-family: 'Poppins', sans-serif;
  color: #292929;
  font-size: 28pt;
  font-weight: 900;
  margin: auto;
    
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #292929;
  font-size: 28pt;
  font-weight: 900;
  margin: auto;
    
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20pt;
  color: #313132;
  font-weight: 700;
}
    
h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 17pt;
  color: #313132;
  font-weight: 700;
}
h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
  color: #313132;
  font-weight: 700;
  
}
h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
  font-weight: 700;
}

body {
  font-family: 'Source Serif Pro', serif;
  margin: 30.6px;
  font-size: 11pt;
}

p {
  font-family: 'Source Serif Pro', serif;
  font-size: 11pt;
  padding: 1.4px;
  line-height: 1.5em;
  color: #292929;
}

p.caption {
  font-size: 9.6pt;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: #5367f8;
}

code {
  font-family: 'Roboto Condensed', sans-serif;
  
}

blockquote {
  border-left: 5px solid #33554c;
  background: whitesmoke;
  box-shadow: 1px 1px 6px 0px darkgrey;
  /*box-shaddow: inset 1px 1px 6px 0px darkgrey*/
}

blockquote p {
  font-size: 12pt;
  font-family: 'Roboto Condensed', sans-serif;
  
}
  



